<nav class="navbar bg-dark" data-bs-theme="dark">
    <div class="container">
        <!-- Home link -->
        <a href="{% url 'core:home' %}" class="navbar-brand mb-0 fs-2 fw-bold h1">Marketplace</a>

        <!-- Auth links -->
        <div class="btn-group">
            <a href="{% url 'accounts:login' %}" class="btn btn-secondary">Вхід</a>
            <div class="vr" style="width: 2px; color: white; opacity: 1;"></div>
            <a href="{% url 'accounts:register' %}" class="btn btn-secondary">Реєстрація</a>
        </div>
    </div>
</nav>